body {
	display: flex;
	justify-content: center;
	background-color: #111015;
}
h1 {
	font-family: Arial;
	color: #ff00ff;
	top: 10px
}
button {
	color: #ffffff;
	background-color: #515055;
	position: fixed;
	bottom: 20%;
	border: none;
	font-family: Monospace;
	font-size: 18px;
	height: 40px;
	width: 160px;
}
button:hover {
	background-color: #717075;
}