body {
	display: flex;
	justify-content: center;
	background-color: #111015;
}
h1 {
	font-family: Arial;
	color: #ff00ff;
	top: 10px
}

#changeColorButton {
	color: #ffffff;
	background-color: #515055;
	position: fixed;
	bottom: 20%;
	border: none;
	font-family: Monospace;
	font-size: 18px;
	height: 40px;
	width: 160px;
}
#changeColorButton:hover {
	background-color: #717075;

}
#switchLanguage {
	color: #ffffff;
	background-color: #515055;
	position: fixed;
	top: 10px;
	right: 10px;
	font-family: Monospace;
	font-size: 12px;
	height: 25px;
	width: 25px;
	border: none;
}